//
   Created by saye on 2015/7/9.

extends layout

block content
   //syntax highlighter
   script(src='/javascripts/syntaxhighlighter/scripts/shCore.js')
   script(src='/javascripts/syntaxhighlighter/scripts/shBrushJScript.js')
   script(src='/javascripts/syntaxhighlighter/scripts/shBrushCpp.js')
   link(href='/javascripts/syntaxhighlighter/styles/shCore.css' rel='stylesheet')
   link(href='/javascripts/syntaxhighlighter/styles/shThemeDefault.css' rel='stylesheet')
   script
      | SyntaxHighlighter.all();
   header
      h1= title

   div !{body}

