
main-color=#66ccff
background-color=#FFEED2

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0 auto
  background-color background-color
a
  color #00B7FF

header
  background-color main-color
  color #000
  height 100px
  text-align center

  h1
    float left
    position relative
    top 20px
    left 30px

  h3
    float right
    position relative
    top 50px
    right 30px
