body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  background-color: #ffeed2;
}
a {
  color: #00b7ff;
}
header {
  background-color: #6cf;
  color: #000;
  height: 100px;
  text-align: center;
}
header h1 {
  float: left;
  position: relative;
  top: 20px;
  left: 30px;
}
header h3 {
  float: right;
  position: relative;
  top: 50px;
  right: 30px;
}
